<section id="dashboard">
  <div>
    <p><a href="/dashboard/write">Write a New Post</a></p>
  </div>
  <div>
    <p><a href="/dashboard/posts">Your Posts</a></p>
  </div>
  <div>
    <p><a href="/dashboard/comments">Your Comments</a></p>
  </div>
  <div>
    <p><a href="/dashboard/profile">Update Profile</a></p>
  </div>
</section>