body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  border: 0px;
  padding: 0px;
  line-height: 1;
}

header {
  display: flex;
  height: 100px;
  background-color: royalblue;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: tan;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: tan;
  height: 50px;
  align-items: center;
}

nav a {
  margin: 0px 20px;
  color: navy;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s
}

nav a:hover {
  background-color: royalblue;
  color: tan;
  font-weight: 700;
  transition: .4s;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  padding: 50px 0px;
  border: 1px solid black;
  border-radius: 7px;
  margin-top: 25px;
}

#dashboard div:not(:last-child) {
  margin-bottom: 25px;
}

#dashboard div p a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  color: black;
}

#dashboard div p a:hover {
  background-color: navy;
  color: whitesmoke;
  transition: .4s;
}

.post,
.comment-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 20vh;
}

.post-details,
.comment-details {
  margin: 20px 20px 0px 20px;
}

.post-header,
.comment-header {
  display: flex;
  background-color: royalblue;
  border: 1px solid black;
  border-radius: 4px 4px 0px 0px;
  width: 100%;
}

.post-header a,
.comment-header a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  padding: 10px;
}

.post-body,
.comment-body {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  background-color: hwb(219 46% 0%);
}

.post-body p,
.comment-body p {
  padding: 10px;
}

.post-username,
.username-section {
  border-top: 1px solid grey;
}

.comment-details {
  padding-left: 60px;
}

.comment-header {
  background-color: rgb(134, 91, 36);
}

.comment-body {
  background-color: rgb(233, 210, 178);
}

.username-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-post-btn,
.edit-comment-btn {
  margin-right: 10px;
}

.edit-post-btn button:hover,
.edit-comment-btn button:hover,
.form-line-btn button:hover,
.login-card p a:hover,
.post-header a:hover,
.add-comment-btn button:hover {
  background-color: darkslategray;
  color: whitesmoke;
  transition: .4s;
  cursor: pointer;
}

.post-fix {
  min-height: 0px;
}

.comment-fix {
  margin-top: 0px;
}

.login-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 50%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 7px;
  align-items: center;
}

.page-title {
  padding-bottom: 20px;
}

.signup-form,
.login-form,
#update-profile-form,
#update-post-form,
#update-comment-form,
#write-post-form {
  width: 80%;
}

.form-line {
  display: flex;
  margin-bottom: 20px;
}

.form-line label {
  width: 25%;
}

.form-line input {
  width: 75%;
}

.form-line-btn {
  justify-content: center;
}

.login-card p a {
  text-decoration: none;
}

.form-input-content {
  height: 20vh;
  align-items: flex-start;
  width: 75%;
}

.center {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}